/* Main Container  */
.body-container{
    padding: 5px;
}

/* Heading  */
.page_heading{
    height: 80px;
    background-color: #cccccc;
}

/* Padding Class  */
.pad-head{
    padding: 20px 20px 0px 20px;
}
.pad-txt{
    padding: 0px 20px 0px 20px;
}

/* NavBar  */
nav{
    background-color: #333;
}
.font-color{
    color: white;
}
a{
    padding: 0px;
    margin: 0px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
a:hover{
    background-color: green;
}

/* Section  */
.section-box{
    margin: -6px;
}

/* Aside  */
.aside-box{
    background-color: #e0e0e0;
}

/* Footer  */
.footer-box{
    background-color: #cccccc;
    margin: 0px;
    height: 70px;
}
.left-txt{
    float: right;
}
